* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
html{
    /* scroll-behavior: smooth;
    scroll-padding-top: 85px; */
}
body {
    background-color: #321d52;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2c8e2' fill-opacity='0.07'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
main {
    max-width: 1400px;
    margin: 0 auto;
    /* padding-top: 110px; */
    
     
}
header img {
    width: 80px;
    height: 80px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid sandybrown; */
    padding: 10px 40px;
    font-size: 20px;
    /* position:fixed; */
    width: 100%;
    z-index: 2;
}
.navbar-nav {
    display: flex;
    gap: 180px;
}
.navbar-list {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.navbar-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#img2 {
    width: 30px;
    height: 30px;
}

#img1 {
    width: 40px;
    height: 40px;
}

/* ------------------------------------ */
@keyframes register {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#registro {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    animation: register 2s ease 1s 1 normal backwards;

}


.registro {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border-radius: 15px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    border: 1px solid black;
    color: rgb(197, 197, 197);
    box-shadow: -1px 0px 27px 0px rgba(158,158,158,1);
    -webkit-box-shadow: -1px 0px 27px 0px rgba(158,158,158,1);
    -moz-box-shadow: -1px 0px 27px 0px rgba(158,158,158,1);
}


.info-registro {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.info-registro input {
    background: rgb(148, 147, 147);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    border: 1px solid black;

}

#btn-entrar{
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    transition: all .3s ease;
    border-radius: 5px;
}

#btn-entrar:hover {
    color: white;
    background: black;
    border: 1px solid white;
}

.info-registro2 {
    display: flex;
    align-items: center;
    
}
.info-registro2 a {
    border: none;
    font-weight: 600;
    color: black;
}

.info-registro2 span {
    font-weight: 600;
    opacity: 1;
}
@media (max-width: 400px) {
    .registro {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1535px) {
    body {
        background-size: cover;
    }
}